body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    min-width: 600px;
    font-weight: 300;
    color: #fff; // color: rgb(13, 3, 72);
}


/*-----------------------------------------
MAIN SECTION             
-----------------------------------------*/

.section-main {
    position: relative;
    width: 100%;
    height: 624px;
    display: block;
    .hero {
        background-image: url(../img/126_opt.jpg);
        height: 100%;
        background-size: cover;
        .main-nav {
            position: absolute;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            height: 75px;
            top: 20px;
            flex-direction: row;
            background-color: rgba(13, 3, 72, 0.7);
            color: rgb(255, 255, 255);
            .main-logo {
                height: 75px;
                display: flex;
                flex-direction: row;
                font-size: 2rem;
                line-height: 1.5rem;
                align-items: center;
            }
            .main-menu {
                font-size: 1rem;
                display: flex;
                justify-content: space-between;
                .menu-list {
                    flex-direction: row;
                    ul {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        li {
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;
                            display: inline-block;
                            height: 75px;
                            padding: 20px 0px;
                            &:hover {
                                background-color: rgba(255, 255, 255, 0.25);
                            }
                            a {
                                display: inline-block;
                                font-size: 1rem;
                                color: rgb(255, 255, 255);
                                line-height: 1rem;
                                padding: 10px 20px;
                                text-decoration: none;
                                border-right: 1px solid white;
                            }
                        }
                    }
                }
                .menu-calc {
                    display: flex;
                    justify-content: right;
                    align-items: center;
                    font-size: 1.5rem;
                    flex-direction: row;
                }
            }
        }
    }
}


/*-----------------------------------------
MAIN CALCULATOR             
-----------------------------------------*/

.section-calculator {
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 37px;
    color: rgb(13, 3, 72);
    .calculator {
        .calculator-title-box {
            display: flex;
            width: 100%;
            height: 37px;
            color: rgb(255, 255, 255);
            font-size: 1.5rem;
            justify-content: center;
            align-items: center;
            background-color: rgb(13, 3, 72);
            border-radius: 10px;
        }
        .calculator-text {
            font-size: 1.25rem;
            padding: 8px 0px;
        }
        .calculator-textarea {
            width: 100%;
            height: 115px;
            resize: none;
            outline: none;
        }
        .calculator-text-length {
            font-size: 1.25rem;
            padding: 7px 0px;
            .calculator-monospace {
                font-weight: 500;
            }
        }
        .language-select {
            font-size: 1.2rem;
            width: 95%;
            height: 32px;
            margin-top: 5px;
            background-color: rgb(13, 3, 72);
            color: rgb(255, 255, 255);
            text-align: center;
            border-radius: 5px;
            padding: 0px 20px;
            .calculator-from-language,
            .calculator-to-language {
                font-size: 1.25rem;
                padding: 0px 10px;
            }
            select.language {
                width: 100%;
                margin-top: 20px;
                display: block;
                .option {
                    white-space: pre;
                    min-height: 1.2em;
                    padding: 0px 2px 1px;
                }
            }
        } /// -----------------------------------
        /// PRICING TABLE
        /// -----------------------------------
        .pricing-table {
            font-size: 2rem;
            font-weight: 300;
            text-align: center;
            margin-left: 5px;
            color: #fff;
            background-color: rgba(13, 3, 72, 0.25);
            .pricing-table-row-header {
                // display: flex;
                align-items: center;
                height: 75px;
                .pricing-table-headers {
                    height: 75px;
                    font-size: 2.5rem;
                    font-weight: 300;
                    // align-items: center;
                    border-right: 1px solid rgb(255, 255, 255);
                    padding: 10px 0px;
                }
            }
            .pricing-table-row-transl {
                display: flex;
                background-color: rgba(13, 3, 72, 0.3);
                align-content: center;
                height: 100%;
                .pricing-table-transl-cell {
                    height: 75px;
                    font-weight: 300;
                    font-size: 1.5rem;
                    align-content: center;
                    border-right: 1px solid rgb(255, 255, 255);
                    padding: 10px 0px;
                }
            }
            .pricing-table-row-redact-lang {
                display: flex;
                align-content: center;
                // height: 75px;
                .pricing-table-redact-cell {
                    height: 75px;
                    align-content: center;
                    font-weight: 300;
                    font-size: 1.5rem;
                    border-right: 1px solid rgb(255, 255, 255);
                    padding: 10px 0px;
                }
            }
            .pricing-table-row-redact-merit {
                display: flex;
                background-color: rgba(13, 3, 72, 0.3);
                align-content: center;
                // height: 100%;
                .pricing-table-merit-cell {
                    height: 75px;
                    font-weight: 300;
                    font-size: 1.5rem;
                    align-items: center;
                    border-right: 1px solid rgb(255, 255, 255);
                    padding: 10px 0px;
                }
            }
        }
        .price-net {
            font-size: 1.5rem;
            font-weight: 500;
            width: 100%;
            display: block;
        }
        .price-with-vat {
            font-size: 1rem;
            font-style: italic;
            font-weight: 300;
        }
        .chosen-table {
            margin-top: 35px;
            .text-explanation {
                font-size: 1.25rem;
            }
            .chosen {
                background-color: rgba(13, 3, 72, 0.75);
                height: 85px;
                width: 100%;
                margin-top: 35px;
                color: rgb(255, 255, 255);
                display: flex;
                border-radius: 10px;
                .chosen-title,
                .chosen-service,
                .chosen-time,
                .chosen-price {
                    width: 100%;
                    height: 100%;
                    font-size: 1.5rem;
                    font-weight: 300;
                    text-align: center;
                    border-right: 1px solid rgb(255, 255, 255);
                    padding: 15px 0px;
                }
                .chosen-title {
                    padding: 30px 0px;
                }
            }
            .medium-text {
                font-size: 1rem;
            }
            .small-italic {
                font-size: 1rem;
                font-style: italic;
                font-weight: 300;
            }
            .company-data {
                width: 100%;
                .company-data-label {
                    display: block;
                    font-size: 1.5rem;
                    width: 100%;
                    margin: 20px 0px 5px;
                }
                .company-data-input {
                    font-size: 1.5rem;
                    height: 42px;
                    display: block;
                    width: 100%;
                    border: 1px solid rgba(13, 3, 72, 0.5);
                }
            }
            .order-button {
                width: 100%;
                height: 50px;
                background-color: rgba(13, 3, 72, 0.75);
                color: rgb(255, 255, 255);
                font-size: 2rem;
                text-align: center;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                margin: 25px 0px;
                padding: 10px 0px;
            }
        }
    }
}