body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}
/*---------------------------------------*/
/*     MAIN SECTION                      */
/*---------------------------------------*/

%bfr_aftr {
    content: '';
    height: 7px;
    width: 47px;
    border-radius: 3px;
    background-color: $color6;
}

.section-main {
    position: relative;
    width: 100%;
    height: 624px;
    display: block;
    .hero {
        background-image: url(./img/126_opt.jpg);
        height: 100%;
        background-size: cover;
        .main-nav {
            position: absolute;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            height: 75px;
            top: 20px;
            flex-direction: row;
            background-color: $color1_opc70;
            color: $color6;
            .main-logo {
                height: 75px;
                display: flex;
                flex-direction: row;
                font-size: 2rem;
                line-height: 1.5rem;
                align-items: center;
            }
            
            .main-menu {
                justify-content: flex-end;
                position: relative;
                @media (max-width: 759px) {
                    justify-content: flex-end;
                }
                .burger {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 0px;
                    height: 43px;
                    width: 47px;
                    margin: 16px 10px;
                    position: relative;
                    @media (min-width: $tabletWidth) {
                        display: none;
                    }
                    .burger-bar {
                        @extend %bfr_aftr;
                    }
                }
                .menu-list {
                    display: none;
                    @media (min-width: $tabletWidth) {
                        display: flex;
                        flex-direction: row;
                        font-size: 1rem;
                    }
                    ul {
                        justify-content: space-between;
                        align-items: center;
                        padding-rigth: 20px;
                        border-left: 1px solid white;
                        
                        li {
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;
                            display: inline-block;
                            height: 75px;
                            padding: 0px 0px;
                            &:hover {
                                background-color: rgba(255, 255, 255, 0.25);
                                cursor: pointer;
                            }
                            a {
                                display: inline-block;
                                font-size: 1rem;
                                color: $color6;
                                line-height: 1rem;
                                padding: 30px 15px;
                                text-decoration: none;
                                border-right: 1px solid white;
                            }
                        }
                    }
                }
                .visible {
                    position: absolute;
                    top: 75px;
                    right: 125px;
                    display: flex;
                    ul {
                        flex-direction: column;
                        align-items: left;
                        background-color: $color1_opc70;
                        li {
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;
                            display: inline-block;
                            height: 40px;
                            padding: 0px;
                            &:hover {
                                background-color: rgba(255, 255, 255, 0.25);
                                cursor: pointer;
                            }
                            a {
                                display: inline-block;
                                font-size: 1rem;
                                color: $color6;
                                line-height: 1rem;
                                padding: 12px 10px;
                                text-decoration: none;
                                border: none;
                                max-width:125px;
                            }
                        }
                    }
                }
                .menu-calc {
                    height: 75px;
                    display: flex;
                    font-size: 1.5rem;
                    a {
                        text-decoration: none;
                        color: #fff;
                        text-align: center;
                        padding: 15px 0px 15px 30px;
                    }
                }
            }
        }
        .main-info {
            padding-top: 160px;
            .main-header {
                text-align: right;
                color: $color1_opc70;
                font-size: 2.5rem;
                width: 100%;
                border-bottom: 2px solid $color1_opc70;
                margin-bottom: 1rem;
            }
            .main-description {
                .main-description-paragraph {
                    text-align: left;
                    color: $color1_opc70;
                    font-size: 1.75rem;
                    line-height: 2rem;
                }
                .main-description-button {
                    text-align: center;
                    color: $color6;
                    background-color: $color1_opc70;
                    border-radius: 5px;
                    margin: 10px 0px;
                    padding: 5px 10px;
                    border: none;
                    a {
                        text-decoration: none;
                        color: $color6;
                    }
                }
            }
        }
    }
}

/*-----------------------------------------*/
/*          SECTION CALCULATOR             */
/*-----------------------------------------*/

.section-calculator {
    position: relative;
    display: flex;
    width: 100%;
    margin: 37px 0px;
    color: $color1;
    .calculator {
        .calculator-title-box {
            display: flex;
            width: 100%;
            height: 35px;
            color: $color6;
            font-size: 1.5rem;
            justify-content: center;
            align-items: center;
            background-color: $color1;
            border-radius: 10px;
        }
        .calculator-text {
            font-size: 1.2rem;
            padding: 10px 0px;
        }
        .calculator-textarea {
            width: 100%;
            height: 75px;
            resize: none;
            outline: none;
        }
        .calculator-text-length {
            font-size: 1rem;
            padding: 10px 0px;
            line-height: 1.5rem;
            .calculator-monospace {
                font-weight: 500;
            }
            span {
                font-size: 0.75rem;
            }
        }
        .chosen-language {
            font-size: 1.2rem;
            width: 100%;
            height: 32px;
            margin-top: 5px;
            color: $color6;
            background-color: $color1;
            text-align: left;
            border-radius: 5px;
            margin-bottom: 0.5rem;
            .calculator-from-language,
            .calculator-to-language {
                font-size: 1.25rem;
                padding: 5px 0px;
            }
            select.language {
                width: 100%;
                margin-top: 20px;
                display: block;
                form {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    input {
                        padding: 0px 10px;
                    }
                }
                .option {
                    white-space: pre;
                    min-height: 1.2em;
                    padding: 0px 5px 1px;
                }
            }
        } 
        /* ---------------------------------*/
        /*         PRICING TABLE            */
        /* ---------------------------------*/
        .pricing-table {
            font-size: 1.75rem;
            font-weight: 300;
            text-align: center;
            color: $color6;
            background-color: $color3;
            margin-left: -5px;
            @media (min-width: 721px) {
                margin-left: 10px;
            }
            .pricing-table-row-header {
                // display: flex;
                align-items: center;
                height: 75px;
                .pricing-table-headers {
                    height: 75px;
                    font-size: 1.75rem;
                    line-height: 1.5rem;
                    font-weight: 300;
                    border-right: 1px solid $color6;
                    padding: 10px 0px;
                    .realisation-time {
                        font-size: 1rem;
                    }
                }
            }
            .pricing-table-row-transl {
                display: flex;
                background-color: $color1-opc25;
                align-content: center;
                height: 100%;
                .pricing-table-transl-cell {
                    height: 75px;
                    font-weight: 300;
                    font-size: 1.25rem;
                    align-content: center;
                    border-right: 1px solid $color6;
                    padding: 10px 0px;
                }
            }
            .pricing-table-row-redact-lang {
                display: flex;
                align-content: center;
                background-color: $color1-opc45;
                .pricing-table-redact-cell {
                    height: 75px;
                    align-content: center;
                    font-weight: 300;
                    font-size: 1.25rem;
                    border-right: 1px solid $color6;
                    padding: 10px 0px;
                }
            }
            .pricing-table-row-redact-merit {
                display: flex;
                background-color: $color1-opc65;
                align-content: center;
                .pricing-table-merit-cell {
                    height: 75px;
                    font-weight: 300;
                    font-size: 1.25rem;
                    align-items: center;
                    border-right: 1px solid $color6;
                    padding: 10px 0px;
                }
            }
        }
        .hover {
            &:hover {
                background-color: $color1;
                font-size: 4rem;
            }
        }
        .price-net {
            font-size: 1.25rem;
            font-weight: 500;
            width: 100%;
            display: block;
        }
        .price-with-vat {
            font-size: 0.85rem;
            font-style: italic;
            font-weight: 300;
        }
        .not-visible {
            display: none;
        }
        .chosen-table {
            margin-top: 15px;
            .text-explanation {
                font-size: 1.25rem;
                line-height: 1.5rem;
                margin: 10px 0px;
            }
            .chosen {
                background-color: $color1;
                height: 75px;
                width: 100%;
                margin-top: 17px;
                color: $color6;
                display: flex;
                border-radius: 10px;
                .chosen-title,
                .chosen-service,
                .chosen-time,
                .chosen-price {
                    width: 100%;
                    height: 100%;
                    font-weight: 300;
                    text-align: center;
                    border-right: 1px solid $color6;
                    padding: 10px 7px;
                    font-size: 1rem;
                    @media (min-width: 620px) {
                        font-size: 1.25rem;
                        padding: 5px 4px;
                    }
                }
                .chosen-service {
                    padding-top: 4px;
                }
                .chosen-title {
                    padding: 25px 0px;
                }
            }
            .medium-text {
                font-size: 0.8rem;
                line-height: 1rem;
            }
            .small-italic {
                font-size: 0.8rem;
                font-style: italic;
                font-weight: 300;
            }
            .company-data {
                width: 100%;
                .company-data-label {
                    display: block;
                    font-size: 1.5rem;
                    width: 100%;
                    margin: 22px 0px 3px;
                }
                .error-message {
                    color: #d00;
                    font-weight: 500;
                }
                .company-data-input {
                    font-family: 'Roboto', Arial, sans-serif;
                    font-size: 1.5rem;
                    font-weight: 300;
                    height: 42px;
                    display: block;
                    width: 100%;
                    border: 1px solid rgba(13, 3, 72, 0.5);
                }
            }
            .order-disabled-explanation {
                text-align: center;
                margin-top: 1rem;
                margin-bottom: -1rem;
                color: #c00;
                font-weight: 500;
            }
            .order-button {
                width: 100%;
                height: 50px;
                background-color: rgba(13, 3, 72, 0.75);
                color: $color6;
                font-size: 2rem;
                text-align: center;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                margin: 25px 0px;
                padding: 5px 0px;
                &:hover {
                    background-color: $color1-opc70;
                    cursor: pointer;
                    box-shadow: 2px 2px 1px 2px $color1-opc25;
                }
                &:disabled {
                    background-color: $color1-opc25;
                    color: #d77;
                    &:hover {
                        cursor: not-allowed;
                        box-shadow: none;
                    }
                }
            }
            .invoice-info {
                font-weight: 500;
                padding: 1rem;
                text-align: center;
            }
        }
        .invoice-page {
            display: flex;
            flex-direction: row;
            background-color: $color1_opc25;
            border: 1px solid $color1;
            font-size: 12px;
            width: 210mm;
            height: 297mm;
            .margin {
                padding: 30px;
            }
            b {
                font-weight: 500;
            }
            .invoice-header {
                width: 100%;
            }
            .invoice-main {
                height: 50mm;
                background-color: $color6;
                .client-data,
                .service-data,
                .service-prices {
                    height: 260px;
                    padding: 10px;
                    line-height: 24px;
                }
            }
            .invoice-footer {
                text-align: center;
                align-self: flex-end;
            }
        }
    }
}

// -----------------------------
//  SECTION ABOUT US
// -----------------------------
.section-about-us {
    display: flex;
    background-color: $color1;
    color: $color6;
    padding-bottom: 25px; 
    width: 100%;
    .section-about-us-header {
        .section-about-us-header-text {
            margin: 20px 0px;
            font-size: 2rem;
            font-weight: 300;
            width: 100%;
            border-bottom: 1px solid $color6;
        }
    }
    .section-about-us-main-text {
        p {
            font-size: 1.25rem;
            font-weight: 300;
            margin-bottom: 1rem;
        }
    }
    
    .about-us-image-div {
        background-image: url(./img/1804_opt.jpg);
        min-height: 160px;
        max-height: 200px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
    }
} // -----------------------------
//  SECTION CREDENTIALS
// -----------------------------
.section-credentials {
    display: flex;
    background-color: $color6;
    color: $color1;
    margin: 15px 0px;
    .section-credentials-header {
        .section-credentials-header-text {
            color: $color1;
            margin-bottom: 20px;
            font-size: 2rem;
            font-weight: 300;
            width: 100%;
            border-bottom: 1px solid $color1;
        }
    }
    .section-credentials-main-text {
        .quote {
            color: $color1;
            font-size: 1.25rem;
            font-weight: 300;
            text-align: center;
        }
        .company {
            font-weight: 500;
            font-size: 1rem;
            text-align: right;
            margin: 10px 0 20px 0;
        }
    }
}

// -----------------------------
//  SECTION OUR PARTNERS
// -----------------------------
.section-partners {
    display: flex;            
    background-color: $color6;
    color: $color1;
    height: 100%;
    .section-partners-header {
        .section-partners-header-text {
            margin: 20px 0px;
            font-size: 2rem;
            font-weight: 300;
            width: 100%;
            border-bottom: 1px solid $color1;
        }
    }
    .section-partners-main-text {
        p {
            font-size: 1.25rem;
            font-weight: 300;
        }
    }
    .partners-image {
        height: 160px;
        width: 100%;
        box-shadow: 1px 1px 2px 1px $color6;
    }
}

// -----------------------------
//  SECTION CONTACT
// -----------------------------
.section-contact {
    display: flex;
    background-color: $color1;
    color: $color6;
    padding: 25px 0px 75px 0px;
    font-weight: 300;
    .section-contact-header {
        .section-contact-header-text {
            color: $color6;
            margin-bottom: 20px;
            font-size: 2rem;
            border-bottom: 1px solid $color6;
            width: 100%;
        }
    }
    .section-contact-main-text {
        color: $color6;
        font-size: 1rem;
        text-align: left;
        margin-bottom: 1rem;
        .copy {
            text-align: right;
        }
        a {
            text-decoration: none;
            color: $color6;
            span {
                font-weight: 300;
                text-decoration: underline;
            }
        }
        .company {
            font-weight: 500;
            font-size: 1rem;
            text-align: right;
            margin-bottom: 20px;
        }
    }
}